.create {
  &__layout {
    @include flexbox(row, center);
    width: 100%;
  }

  &__controls {
    @include flexbox(row, center);
    width: 100%;

    .empty {
      width: 20%;
    }
  }

  .text {
    color: $dark-color;
  }
}

.camera {
  @include flexbox(row, center);
  width: 25%;

  img {
    width: 7.69rem;
  }

  .path {
    width: 4.4rem;
  }
}

.upload {
  &__container {
    @include flexbox(row, center);
    width: 50%;
    border: 1px solid $main-color;
    padding: $p-15;
  }

  &__gifo {
    @include flexbox(column, center);
    width: 90%;
    margin: $margin-center;
    height: 20rem;
    position: relative;
  }

  &__btns {
    @include flexbox(row, space-between);
    width: 11rem;
    margin: $margin-center;
    padding-top: $p-15;

    .each {
      font-family: $main-font;
      padding: 0.4rem 0.6rem;
      font-size: 1.13rem;
      line-height: 0.94rem;
      border-radius: 50%;
    }
  }

  &__bar {
    width: 100%;
    height: 0.43rem;
    background-color: $main-color;
    margin: $m-15 auto;
  }
}

.controls {
  width: 60%;
  position: relative;
}

.counter {
  text-align: right;
  position: absolute;
  top: 15%;
  right: 8%;

  &__recording {
    text-align: right;
  }

  &__repeat {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: $main-color;
  }
}

.step {
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
}

.step_now {
  background-color: $main-color;
  border: 1px solid $light-color;
  color: $light-color;
}

.button {
  margin: 0;
  @include link(uppercase);
  padding: $p-1 $p-25;
  width: auto;
  border: 1px solid $main-color;
  border-radius: 1.9rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: all 0.2s ease-in;
}

.empty {
  width: 25%;
}

.film_reel {
  width: 20%;

  img {
    width: 8.88rem;
  }
}

.overlay {
  background-color: $main-color;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;

  &__icon {
    width: 1.5rem;
    margin-bottom: 1rem;
  }

  &__info {
    position: absolute;
    top: 35%;
    right: 33%;
  }

  .gifo__buttons {
    width: 7rem;
  }

  .counter_text {
    color: $light-color;
  }
}

.recording_video {
  width: 100%;
  height: 20rem;
}
