$light-color: #FFFFFF;
$light-back-color: #F3F5F8;
$dark-color: #000000;
$dark-back-color: #37383C;
$darker-back-color: #222326;
$main-color: #572EE5;
$secondary-color: #5ED7C6;
$grey-text-color: #6B7989;
$grey-btn-color: #9CAFC3;
$footer-links-color: #CDD6E0;

$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;

$logo-mob-size: 3.05rem;
$logo-desk-size: 3.69rem;
$first-img-mob-size: 17.06rem;
$first-img-desk-size: 24.94rem;
$gifo-size: 15.19rem;
$text-size: 35.45rem;

$m-05: 0.5rem;
$m-1: 1rem;
$m-15: 1.5rem;
$m-2: 2rem;
$m-28: 2.88rem;
$m-3: 3rem;
$m-4: 4rem;
$m-48: 4.88rem;
$m-5: 5rem;
$margin-center: 0 auto;

$p-1: 1rem;
$p-15: 1.5rem;
$p-2: 2rem;
$p-25: 2.25rem;
$p-3: 3rem;
$p-57: 5.75rem;
$p-9: 9.75rem;
$p-11: 11.5rem;